.git
.env
.env.backup
.env.production
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/hot
public/storage
tests
.phpunit.cache
.phpunit.result.cache
database/database.sqlite
database/data/*
docker-compose.yml
docker-compose.override.yml
